@use '../../../app/styles/' as *;

.heroContainer {
  margin: 64px 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include media-query-mobile {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
