@use '../../../app/styles/' as *;

.heroContainer {
  margin: 64px 0;
}

.headingContainer {
  margin-bottom: 38px;
  @include media-query-tablet-landscape {
    margin-bottom: 0;
  }
}

.heading {
  margin-bottom: 38px;

  @include media-query-mobile {
    padding: 0 25px;
  }
}

.profilePicture {
  @include media-query-tablet-landscape {
    position: absolute;
  }
}
