@use '../../../app/theme/' as *;

.heroContainer {
  margin-top: 32px;
  @include media-query-desktop {
    margin-top: 64px;
  }
}

.headingContainer {
  margin-bottom: 38px;
  @include media-query-tablet-landscape {
    margin-bottom: 0;
  }
}

.heading {
  margin-bottom: 38px;

  @include media-query-mobile {
    padding: 0 25px;
  }
}

.profilePicture {
  @include media-query-tablet-landscape {
    position: absolute;
  }
}
