@use './fonts.scss' as *;
@use './theme.scss' as *;
@use './colors.scss' as *;

:root {
  --background: $pure-white;
  --foreground: $dark-blue;
}

@include theme-dark {
  :root {
    --background: $dark-blue;
    --foreground: $pure-white;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  z-index: 1;
  position: absolute;
}

a {
  color: $sky-blue;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
