@mixin fadedIn($animation-time, $translate-y) {
  opacity: 0;
  transform: translateY($translate-y);
  transition:
    opacity $animation-time ease-in-out,
    transform $animation-time ease-in-out;
}

.fadedIn {
  @include fadedIn(0.3s, -30px);
}

.fadedIn05 {
  @include fadedIn(0.5s, -30px);
}

.fadedIn07 {
  @include fadedIn(0.7s, -30px);
}

.fadedIn1 {
  @include fadedIn(1s, -30px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
