.tooltip {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  background-color: #ffffff;
  color: #000000;

  display: none;
}

.container {
  position: relative;

  &:hover {
    .tooltip {
      display: inline-block;
    }
  }
}
