@use '../../app/theme/' as *;

.richText {
  @include media-query-mobile {
    padding: 0 25px;
  }
}

.displayHorizontal {
  display: flex;
  align-items: center;
  gap: 12px;

  p:first-child {
    margin-right: 5px;
  }
}
